<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <title>P2P Chat</title>
</head>
<body>
<h1>Peer to Peer Chat Program</h1>
<p th:text="${error}"></p>
<form th:action="@{/updateUser} "  method="post">
  Your username: <input type="text" th:name="name" th:placeholder="${user.name}" />
  <input type="submit" value="Update"/>
</form>
<ul>
  <li>App</li>
  <span> Hi there! Submit your message using the send button!</span>
</ul>
<ul class="list-group" th:each="message : ${messages}" >
  <li class="list-group-item list-group-item-success" th:text="${message.username}" />
  <span  th:text="${message.text}" />
  <p></p>
</ul>
<form th:action="@{/newMessage} "  method="post">
  <input type="text" th:name="message"/>
  <input type="submit" value="Send"/>
</form>
<button onclick="myFunction()">Refresh</button>
<script>
    function myFunction() {
        location.reload();
    }
</script>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>