<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>P2P Chat</title>
</head>
<body>
<h1>Peer to Peer Chat Program</h1>
<p th:text="${error}"></p>
<form th:action="@{/updateUser} "  method="post">
  Your username: <input type="text" th:name="name" th:placeholder="${user.name}" />
  <input type="submit" value="Update"/>
</form>
<ul th:each="message : ${messages}" >
    <li  th:text="${message.username}" />
    <span  th:text="${message.text}" />
    <p></p>
</ul>
<form th:action="@{/newMessage} "  method="post">
  <input type="text" th:name="message" />
  <input type="submit" value="Send"/>
</form>

</body>
</html>