<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <title>P2P Chat</title>
</head>
<body>
<h1>Peer to Peer Chat Program</h1>
<p th:text="${error}"></p>
<form th:action="@{/updateUser} "  method="post">
  Your username: <input type="text" th:name="name" th:placeholder="${user.name}" />
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<h4 class="alert alert-success" role="alert"> App: Hi there! Submit your message using the send button! </h4>

<h3 th:each="message : ${messages}"
   th:if="${message.username} == ${user.name}"
   class="alert alert-warning" role="alert" th:text="${message.username} + ': ' + ${message.text}"
    th:if ="${message.username} != ${user.name}"
    class="alert alert-info" role="alert" th:text="${message.username} + ': ' + ${message.text}" />



<form th:action="@{/newMessage} "  method="post">
  <input type="text" th:name="message"/>
  <button type="submit" class="btn btn-success">Send</button>
</form>
<p></p>
<button onclick="myFunction()" class="btn btn-info">Refresh</button>
<script>
    function myFunction() {
        location.reload();
    }
</script>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>